<!DOCTYPE html>
<html>
<%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 
    <main>
      <section class="home__banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/"> <img class="d-block w-100" src="/images/slide1.jpg" alt="First slide"></a>
           
          </div>
          <div class="carousel-item">
            <a href=""><img class="d-block w-100" src="/images/slide2.jpg" alt="Second slide"></a>
            
          </div>
          <div class="carousel-item">
            <a href=""> <img class="d-block w-100" src="/images/slide3.jpg" alt="Third slide"></a>
           
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
   </section>
   <section class="makeup_accesories">
     <div class="makeup">
       <h3>Make up</h3>
      <a href="/"> <button class="boton_shopnow"> Shop now </button></a>

     </div>
     <div class="accesories">
       <h3>Accesories</h3>
       <a href="/"> <button class="boton_shopnow"> Shop now </button></a>

     </div>

   </section>
   <section>
     <a href="/products"><div class="for_all"></div></a>
   </section>
<section class="buscador">
    <form action="/products/results" method="get" >
     <input type="text" part="Buscar producto..." name="keyword">
     <button type="submit">Buscar</script></button>
   </form>
</section>
<section class="agregar_producto">
  <a href="/products/add" > 
    <strong>AGREGAR PRODUCTO</strong> 
  </a>
</section>
 
   
      
    </main>
    <%- include('./partials/footer') %> 
  </body>

</html>
