<header >
  <marquee behavior="" direction="" class="cuotas"
    >Pagá en 3 y 6 cuotaas sin interes con visa, amex y master</marquee
  >
  <section class="header">
        <div class="menu"><span class="iconify " data-icon="bytesize:menu"></span></div>

  <div class="logo">
      <a href="/"><img src="/images/logo.png" alt=""></a></div>

  <nav class="lista_nav">
    <ul>
      <li>
        <a href=""
          ><span class="iconify" data-icon="akar-icons:search"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="iconify" data-icon="akar-icons:heart"></span>
        </a>
      </li>
      <li>
        <a href=""> <span class="iconify" data-icon="bi:bag-heart"></span> </a>
      </li>
    </ul>
  </section>

  </nav>
</header>
